# Environment / secrets
.env

# Virtual environment
.venv/

# Cache
cache/
.pytest*

# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
